<a href="https://colab.research.google.com/github/IS737StockPicker/stonks/blob/main/Stocks_Final_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




### Stock Price Sentimental Analysis Project
```
Team Members: Philip Borozenets, Cameron Feder, Kariem Osman & Brian Zuniga
---

## Data


This is a combined dataset of new articles September 13, 2022 - March 13, 2023 which was taken from Huffington Post, New York Times, The Guardian & Fin Viz that was used to run sentimental analysis to predict impact on stock prices pulled from yahoo finance to identify a corralation.

In [1]:
%%capture
!git clone https://github.com/IS737StockPicker/stonks

# Stock Ticker Data

In [2]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.18)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (40.0.2)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

### US MARKET GENERAL: 
SPX - S & P 500  -  tracks the performance of 500 large publicly traded companies in the U.S. It is often used as a benchmark for the overall performance of the U.S. stock market and includes companies from a broad range of industries.<p>
DJI - Dow Jones - stock market index that tracks the stock prices of 30 large, publicly owned companies in the U.S. It includes companies from various industries and is an important indicator of the health of the U.S. economy and stock market.

### TECH MARKET GENERAL: 

**NASDAQ 100 Technology Sector Index**
NDXT | A complete NASDAQ 100 Technology Sector Index index overview by MarketWatch. View stock market news, stock market data and trading information.

### Below are the 11 industries: 

XLE - Energy <p>
XLF - Financial <p>
XLU - Utilities<p>
XLI - Industrial<p>
XLK - Tech<p>
XLV - Health Care<p>
XLY - Consumer DIscretionary Select sector<p>
IYR - Real Estate<p>
XOP - Oil and Gas Exploration<p>
XLT - Telecom EDF <p>
XLB - Materials <p>
XLP Consumer Staples <p>


# Creating the data frame
---



The code below captures historical stock data for the stock tickers above, calculates the daily win-loss value and a binary win-loss indicator, and stores it in the the Sector_Stocks df. I also kept some of the exploratory data that we ended up not including in the final model, which includes all of the individual stock tickers from the S&P 500. We decided against individual stock tickers due to the volitity vs. a particular index.

In [3]:
import pandas as pd
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = table[0]
df2 = table[1]
df.info()
keep = df[['Symbol','GICS Sector','Date added']]


sp500 = keep.rename(columns = {'GICS Sector':'Category'})
sp500['Symbol']
stock_tickers = sp500['Symbol'].values.tolist()
stocks = ["SWTSX","NDXT","AAPL","MSFT","GOOG","AMZN","NVDA","TSLA","META","BABA","CRM"]  + stock_tickers
sp_500_df = pd.DataFrame.from_dict(sp500)
sp_500_df['Category'].unique()
#stocks

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 503 non-null    object
 1   Security               503 non-null    object
 2   GICS Sector            503 non-null    object
 3   GICS Sub-Industry      503 non-null    object
 4   Headquarters Location  503 non-null    object
 5   Date added             493 non-null    object
 6   CIK                    503 non-null    int64
 7   Founded                503 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.6+ KB

array(['Industrials', 'Health Care', 'Information Technology',
       'Communication Services', 'Consumer Staples',
       'Consumer Discretionary', 'Utilities', 'Financials', 'Materials',
       'Real Estate', 'Energy'], dtype=object)

In [4]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from plotnine import *
import yfinance as yf
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime

stocks = ["XLE", "XLF", "XLU", "XLI", "XLK", "XLV", "XLY", "IYR", "AAPL", "XLB", "XLP", "SPY", "^DJI", "NDX"]
end_date = end='2023-03-13'

Sector_Stocks = pd.DataFrame()

for stock in stocks:
    data = yf.Ticker(stock).history(start='2022-09-13', end=end_date)
    data['win_loss_value'] = data.Close - data.Open
    data['win_loss'] = np.where(data['win_loss_value'] > 0, 1, 0)
    data['ticker'] = stock
    Sector_Stocks = Sector_Stocks.append(data)

Sector_Stocks.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,win_loss_value,win_loss,ticker
Date,,,,,,,,,,,
2022-09-13 00:00:00-04:00,78.296576,79.633817,77.182205,77.531052,30573000,0.000,0.0,0.0,-0.765524,0,XLE
2022-09-14 00:00:00-04:00,78.257821,80.283063,78.257821,79.721031,27192100,0.000,0.0,0.0,1.463210,1,XLE
2022-09-15 00:00:00-04:00,78.306265,78.635735,77.288801,77.666718,27943200,0.000,0.0,0.0,-0.639547,0,XLE
2022-09-16 00:00:00-04:00,77.424461,77.482600,74.905018,76.009697,35201800,0.000,0.0,0.0,-1.414764,0,XLE
2022-09-19 00:00:00-04:00,73.919267,76.103738,73.742942,76.054756,18812900,0.846,0.0,0.0,2.135489,1,XLE

In [5]:
# Checking for missing values
#The only nulls that are included are in the Capital Gains column which will be deleted in the consolidated dataset. 

Sector_Stocks.isna().sum()

Open                0
High                0
Low                 0
Close               0
Volume              0
Dividends           0
Stock Splits        0
Capital Gains     248
win_loss_value      0
win_loss            0
ticker              0
dtype: int64

In [10]:
Sector_Stocks.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,win_loss_value,win_loss
count,1736.000000,1736.000000,1736.000000,1736.000000,1.736000e+03,1736.000000,1736.0,1488.0,1736.000000,1736.000000
mean,3261.690147,3287.760535,3234.109154,3261.508811,4.012926e+08,0.008018,0.0,0.0,-0.181336,0.490783
std,8671.655917,8734.507859,8603.132066,8670.818488,1.286101e+09,0.081754,0.0,0.0,99.170875,0.500059
min,29.349386,30.348135,29.260388,29.952591,1.228300e+06,0.000000,0.0,0.0,-901.529297,0.000000
25%,77.375961,78.132134,76.547851,77.358532,7.226525e+06,0.000000,0.0,0.0,-1.034918,0.000000
50%,108.076154,110.484124,107.653106,109.608326,1.275990e+07,0.000000,0.0,0.0,-0.009969,0.000000
75%,148.050968,150.183957,146.938139,148.926258,6.951238e+07,0.000000,0.0,0.0,0.939533,1.000000
max,34533.589844,34712.281250,34199.570312,34589.769531,7.968170e+09,1.781000,0.0,0.0,1282.890625,1.000000

In [11]:
Sector_Stocks.corr()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,win_loss_value,win_loss
Open,1.000000,0.999973,0.999976,0.999935,0.325020,-0.035065,NaN,NaN,-0.014162,-0.013183
High,0.999973,1.000000,0.999973,0.999973,0.326277,-0.035093,NaN,NaN,-0.008497,-0.011737
Low,0.999976,0.999973,1.000000,0.999973,0.324151,-0.035048,NaN,NaN,-0.008709,-0.011492
Close,0.999935,0.999973,0.999973,1.000000,0.325255,-0.035067,NaN,NaN,-0.002726,-0.009878
Volume,0.325020,0.326277,0.324151,0.325255,1.000000,-0.027665,NaN,NaN,0.017801,-0.011292
Dividends,-0.035065,-0.035093,-0.035048,-0.035067,-0.027665,1.000000,NaN,NaN,0.000128,-0.006552
Stock Splits,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital Gains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
win_loss_value,-0.014162,-0.008497,-0.008709,-0.002726,0.017801,0.000128,NaN,NaN,1.000000,0.289047
win_loss,-0.013183,-0.011737,-0.011492,-0.009878,-0.011292,-0.006552,NaN,NaN,0.289047,1.000000

Realized that by running the quick EDA's above that for our modeling purposes that our dataset needed to be transformed.We transformed our dataset from long form to wide form by creating a dummy variable for each ticker. We also removed unnecessary columns to focus on determining the binary win/loss for each day based on the opening and closing prices of each stock.

In [30]:
#creating dummy variables for each ticker and creating a new data frame withonly the needed variables. 
Categories = pd.get_dummies(Sector_Stocks.ticker)
Sector_Stocks=Sector_Stocks.reset_index()

Sector_Stocks.info()
stocks_new = pd.concat([Sector_Stocks[['ticker','win_loss_value','win_loss','Date']], Categories], axis=1)
stocks_new.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1736 entries, 0 to 1735
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   level_0         1736 non-null   int64
 1   index           1736 non-null   int64
 2   Date            1736 non-null   datetime64[ns, America/New_York]
 3   Open            1736 non-null   float64
 4   High            1736 non-null   float64
 5   Low             1736 non-null   float64
 6   Close           1736 non-null   float64
 7   Volume          1736 non-null   int64
 8   Dividends       1736 non-null   float64
 9   Stock Splits    1736 non-null   float64
 10  Capital Gains   1488 non-null   float64
 11  win_loss_value  1736 non-null   float64
 12  win_loss        1736 non-null   int64
 13  ticker          1736 non-null   object
dtypes: datetime64[ns, America/New_York](1), float64(8), int64(4), object(1)
memory usage: 190.0+ KB

,ticker,win_loss_value,win_loss,Date,AAPL,IYR,NDX,SPY,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY,^DJI
0,XLE,-0.765524,0,2022-09-13 00:00:00-04:00,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,XLE,1.463210,1,2022-09-14 00:00:00-04:00,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,XLE,-0.639547,0,2022-09-15 00:00:00-04:00,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,XLE,-1.414764,0,2022-09-16 00:00:00-04:00,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,XLE,2.135489,1,2022-09-19 00:00:00-04:00,0,0,0,0,0,1,0,0,0,0,0,0,0,0

To complete the Stock Data output, we manipulated the data to have only one date field per row, displaying the win/loss (1/0) for each ticker in its own column. By doing this, we were then able to merge the news sentiment data with the stock data.

In [40]:

# create an empty dictionary to hold our wide-form data
data_wide = {}
tickers = set(stocks_new['ticker'])

# loop through each row in the long-form dataset
for index, row in stocks_new.iterrows():
    # check if the Date column already exists in the dictionary
    if row['Date'] not in data_wide:
        # if it doesn't, create a new dictionary with a key for each ticker
        data_wide[row['Date']] = {}
        for ticker in tickers:
            data_wide[row['Date']][ticker] = 0
    # increment the WinLoss value for the corresponding ticker and date
    data_wide[row['Date']][row['ticker']] += row['win_loss']
# convert the dictionary to a wide-form dataframe
stock_wide = pd.DataFrame.from_dict(data_wide, orient='index')

# display the wide-form dataframe
print(stock_wide)

                           ^DJI  SPY  XLF  XLU  AAPL  XLB  XLP  NDX  XLY  XLE  \
2022-09-13 00:00:00-04:00     0    0    0    0     0    0    0    0    0    0
2022-09-14 00:00:00-04:00     0    1    0    1     1    0    0    1    1    1
2022-09-15 00:00:00-04:00     0    0    1    0     0    0    0    0    0    0
2022-09-16 00:00:00-04:00     0    1    1    0     0    0    1    1    1    0
2022-09-19 00:00:00-04:00     1    1    1    1     1    1    1    1    1    1
...                         ...  ...  ...  ...   ...  ...  ...  ...  ...  ...
2023-03-06 00:00:00-05:00     1    0    1    1     1    0    1    0    0    1
2023-03-07 00:00:00-05:00     0    0    0    0     0    0    0    0    0    0
2023-03-08 00:00:00-05:00     0    1    0    1     1    1    1    1    0    0
2023-03-09 00:00:00-05:00     0    0    0    0     0    0    0    0    0    0
2023-03-10 00:00:00-05:00     0    0    0    0     0    0    0    0    0    0

                           IYR  XLK  XLI  XLV
2022-09-13 00:00:00-04:00    0    0    0    0
2022-09-14 00:00:00-04:00    0    0    0    0
2022-09-15 00:00:00-04:00    0    0    0    1
2022-09-16 00:00:00-04:00    1    1    1    1
2022-09-19 00:00:00-04:00    1    1    1    1
...                        ...  ...  ...  ...
2023-03-06 00:00:00-05:00    0    0    0    0
2023-03-07 00:00:00-05:00    0    0    0    0
2023-03-08 00:00:00-05:00    1    1    1    0
2023-03-09 00:00:00-05:00    0    0    0    0
2023-03-10 00:00:00-05:00    0    0    0    0

[124 rows x 14 columns]

In [41]:
#downloading file to csv
from google.colab import files
stock_wide.to_csv('STOCKS_WIN_LOSE.csv', encoding = 'utf-8-sig') 
files.download('STOCKS_WIN_LOSE.csv')

In [21]:
stocks_df = pd.read_csv('/content/stonks/STOCKS_WIN_LOSE.csv')
stocks_df.head()

,Date,XLE,XLF,XLU,XLI,XLK,XLV,XLY,IYR,AAPL,XLB,XLP,SPY,^DJI,NDX
0,2022-09-13 00:00:00-04:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2022-09-14 00:00:00-04:00,1,0,1,0,0,0,1,0,1,0,0,1,0,1
2,2022-09-15 00:00:00-04:00,0,1,0,0,0,1,0,0,0,0,0,0,0,0
3,2022-09-16 00:00:00-04:00,0,1,0,1,1,1,1,1,0,0,1,1,0,1
4,2022-09-19 00:00:00-04:00,1,1,1,1,1,1,1,1,1,1,1,1,1,1